<html>
<head>
	<title>Page 1</title>
</head>
<body bgcolor="orange" text="black">
<br><br>
<table align="center" border="1" width="65%" bgcolor="#FFFF99" >
	<tr><th> คุณสมบัติต่างๆ</th></tr>
	<tr>
		<td align="center" >
			<br border=4>
			<br><p><image src="pig.jpg" width="200" height="150" border="1" align="center" align="center"></image></p>
		</td>	
	</tr>
</table>
<br>
<table align="center" border="1" width="65%" bgcolor="#FFFF99" >
	<tr><th> คุณสมบัติต่างๆ</th></tr>
	<tr>
		<td>- align="left" | "center" | "right"   จัดตำแหน่งของตาราง 
			<br>- border="number"   กำหนดความหนาของเส้นขอบตาราง
			<br><p><image src="pig.jpg" width="200" height="150" border="1" align="center"></p>
		</td>	
	</tr>
</table>
<br>
<table align="center" border="1" width="65%" bgcolor="#FFFF99" >
	<tr><th> คุณสมบัติต่างๆ</th></tr>
	<tr>
		<td>- align="left" | "center" | "right"   จัดตำแหน่งของตาราง 
			<br>- border="number"   กำหนดความหนาของเส้นขอบตาราง
			<br><p><image src="pig.jpg" width="200" height="150" border="1" align="center"></p>
		</td>	
	</tr>
</table>
</html>