<html>
<head>
	<title>Page 2 </title>
</head>
<body bgcolor="orange" text="black">
<br>
<h4><p align="center" >ข้อมูลโครงการ</p></h4>
<table align="center" border="1" width="65%" bgcolor="#FFFF99" cellpadding="10">
	<tr>
		<td><b><p align="left">ชื่อโครงการ</p></b></td>
		<td><input type ="text" name="ชื่อโครงการ"></td>
	</tr>
	<tr>
		<td><b><p align="left">คำอธิบายโปรเจค</p></b></td>
		<td><input type ="text" name="คำอธิบายโปรเจค"></td>
	</tr>
	<tr>
		<td><b><p align="left">ประธานโครงการ</p></b></td>
		<td><input type ="text" name="ประธานโครงการ"></td>
	</tr>
	<tr>
		<td><b><p align="left">สถานะโครงการ</p></b></td>
		<td><input type ="text" name="สถานะโครงการ"></td>
	</tr>
</table>
</html>